<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Portable_Minecraft_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <Portable_Minecraft_Launcher.Properties.Settings>
            <setting name="dev_agree" serializeAs="String">
                <value />
            </setting>
            <setting name="dev_debug" serializeAs="String">
                <value />
            </setting>
            <setting name="dev_download_res" serializeAs="String">
                <value />
            </setting>
            <setting name="dev_def_prof" serializeAs="String">
                <value />
            </setting>
            <setting name="dev_def_prof_st" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dev_def_prof_st_java" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dev_overide_arch" serializeAs="String">
                <value />
            </setting>
            <setting name="dev_auto_upd" serializeAs="String">
                <value />
            </setting>
            <setting name="dev_qtx_gui_en" serializeAs="String">
                <value />
            </setting>
            <setting name="dev_what_new" serializeAs="String">
                <value />
            </setting>
            <setting name="dev_runbck" serializeAs="String">
                <value />
            </setting>
            <setting name="dev_runbck_min" serializeAs="String">
                <value />
            </setting>
        </Portable_Minecraft_Launcher.Properties.Settings>
    </userSettings>
</configuration>
